/* tables */
table.tablesorter {
    border-left: 1px solid #DDDDDD;
    width: 1650px;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #69F;
	color: #fff;
}
table.tablesorter thead tr .header {
	background-image:url(/images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody.zebra tr:nth-child(even) {
	background-color:#f7f7f7;
}
table.tablesorter tbody.zebra tr:nth-child(odd) {
	background-color:#ffffff;
}
table.tablesorter tbody.zebra tr:hover {
	background:#d7e8fa;
	color:#000;
}
table.tablesorter tbody td {
	color: #333;
	padding: 8px;
	vertical-align: top;
	border-right: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
	border-top-style: none;
	border-left-style: none;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image:url(/images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image:url(/images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #005baa;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}
